/*forum is nu active in de navbar*/
#forum {
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 4px;
}

body {
    background-color: #f2f5fa;
}

.top {
    margin-top: -12px;
}

.report {
    color: red;
    font-size: 22px;
    margin-right: -21px;
    top: -26.5px;
    position: relative;
}

.report:hover {
    cursor: pointer;
}

form {
    width: 70%;
    padding: 0%;
    margin: 0%;
}

form textarea {
    clear: both;
    display: block;
    width: 100%;
    padding: 1%;
    margin: 1% 0 4% 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #777;
    resize: none;
}

textarea:focus {
    border-bottom: 1px solid #47536e;
}

form {
    text-align: center;
}

.comment-button {
    border: 0px solid;
    background-color: #47536e;
    color: white;
    padding: 1%;
    box-shadow: 0 2px 5px black;
}


body {
    overflow-x: hidden;
}

.postedBy, .postedBy a {
    color: #3b4256;
    height: 18px;
    width: auto;
    text-decoration: none !important;
    font-weight: bold;

    list-style: none outside none;
    margin: 5px 0px 0px;
    text-align: center;
}

.avatarCoin {
    position: absolute;
    margin: -33px 0px 0px -70px;
    color: black;
    font-weight: bold;
}

#wrapper {
    margin: 50px;
    width: auto !important;
}

.threadsList, .comments {
    height: 160px;
}

.threadItem {
    box-sizing: border-box;
    color: rgb(87, 99, 102);

    position: relative;
    width: 100%;
    perspective-origin: 655px 67px;
    transform-origin: 655px 67px;
    border-top: 1px solid rgb(237, 239, 240);
    border-right: 0px none rgb(87, 99, 102);
    border-bottom: 0px none rgb(87, 99, 102);
    border-left: 0px none rgb(87, 99, 102);
    list-style: none outside none;
    outline: rgb(87, 99, 102) none 0px;
    padding: 15px 0px 0px;
}

.threadCommentItem {
    box-sizing: border-box;
    color: rgb(87, 99, 102);

    position: relative;
    width: 100%;
    perspective-origin: 655px 67px;
    transform-origin: 655px 67px;
    list-style: none outside none;
    padding: 15px 0px 0px;
}

.comments {
    box-sizing: border-box;
    color: rgb(87, 99, 102);

    position: relative;
    width: 100%;
    perspective-origin: 655px 67px;
    transform-origin: 655px 67px;
    border-top: 1px solid rgb(237, 239, 240);
    list-style: none outside none;
}

.postContainer {
    box-sizing: border-box;
    color: rgb(87, 99, 102);

    text-align: left;
    perspective-origin: 476.25px 56px;
    transform-origin: 476.25px 56px;
    border: 0px none rgb(87, 99, 102);
    list-style: none outside none;
    outline: rgb(87, 99, 102) none 0px;
}

.threadItemLabel {
    color: #7b8b8e;
    text-align: center;
}

.answerCountContainer {
    box-sizing: border-box;
    color: rgb(87, 99, 102);
    float: right;
    height: 72px;
    text-align: center;
    perspective-origin: 25.5px 36px;
    transform-origin: 25.5px 36px;
    border: 0px none rgb(87, 99, 102);
    list-style: none outside none;
    margin-right: 40px;
    outline: rgb(87, 99, 102) none 0px;
    padding: 5px 0px 0px;
    margin-top: 9px;
}


.threadTitleHeader {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    background: #47536e;
    padding: .8rem;
    color: #fff;
    text-align: left;
    width: 90%;
    top: 120px;
    position: absolute;
    left: 90px;
}

.threadTitleHeader > a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.postedBy {
    color: #C5C5C5;
}

.descriptionText {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 50px;
}


#wrapper {
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 90px;
}

.firstPost {
    border: 0;
}

.forwardButton {
    position: relative;
    right: 5px;
}

.backButton {
    position: relative;
    left: 5px;
}

.btn-on {
    background-color: #D0CECE;
}

@media (max-width: 777px) {
    .avatarCoin {
        border: 5px solid #FFF;
    }

    .threadItem {
        margin: 0px;
    }

    .answerCountContainer {
        padding-left: 10px;
        padding-right: 30px;
        width: 100%;
        margin: 0px;

    }

    .replyCount {
        padding: 0px;
    }

    .postContainer {
        padding: 0px;
    }
}

@media (max-width: 669px) {
    .threadTitleHeader, .postedBy {
        text-align: center;
    }

    .pageNumber {
        font-size: 11px;
        width: auto;
    }

    .lastUpdated, .expandDesc {
        display: none;
    }

    .threadTitleHeader, .postedBy {
        padding-right: 30px;
    }
}

@media (min-width: 1100px) {
    .descriptionText {
        display: block !important;
    }
}

@media (max-width: 370px) {
    .pageNumber {
        display: none;
    }
}

.left {
    font-size: 19px;
}

.terug {
    background: grey;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
    top: 107px;
    position: absolute;
}

.terug:hover {
    background: #707070;
    color: black;
}

/*reactie achterlaten*/
.commentbox {
    margin-left: 90px;
}

.be-comment-block {
    margin-bottom: 50px !important;
    border-radius: 2px;
    border: none;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-text {
    font-size: 18px;
    margin-left: 78px;
    margin-top: -60px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}

.post {
    color: white;
    border: none;
    background: #5777ba;
}

.box {
    background-color: white;
}

.form-container * {
    box-sizing: border-box;
}

.form-container form,
.form-container .form-message {
    background-color: #ededed;
    padding: 40px 30px 30px;
    border-radius: 2px;
    margin: 0px 90px;
    color: #484e56;
    position: relative;
    width: 90%;
}

.form-container form .close-button,
.form-container .form-message .close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 27px;
}

.form-container form input,
.form-container form textarea,
.form-container form select,
.form-container form button,
.form-container .form-message button {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 12px;
    margin: 0;
    background: #fff;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    color: #484e56;
}

.form-container form textarea {
    height: 114px;
    resize: none;
    padding: 12px;
    line-height: 1.35;
}

.form-container form button,
.form-container .form-message button {
    width: auto;
    background: #5777ba;
    color: #fff;
    padding: 0 45px;
    font-size: 15px;
    font-weight: bold;
}

.form-container form > div {
    margin-bottom: 25px;
}

.form-container form > *:last-child {
    margin-bottom: 0;
}

.form-container form .title {
    font-size: 20px;
    float: left;
    color: black;
    padding: 0 25px
}

.form-container form .form-group {
    height: 34px;
    width: 100%;
}

.form-container form .form-group .form-element {
    width: 50%;
    float: left;
}

.form-container form .form-element {
    width: 100%;
    min-height: 34px;
    padding: 0 20px;
}

.form-container form.schedule-demo .form-group {
    height: auto;
    overflow: hidden;
}

.form-container form .form-element > .form-element {
    width: 100%;
    padding: 0;
}

.form-container form.schedule-demo .form-element + .form-element {
    margin-top: 25px;
}

.form-container form .form-element.submit {
    text-align: right;
}

.form-container form.schedule-demo .form-element.radio-group {
    overflow: hidden;
    margin: 0;
    padding: 0 10px 0 9px;
    font-size: 13px;
}

.form-container form .form-element.radio-group .radio {
    width: 50%;
    float: left;
    margin-bottom: 25px;
    height: 34px;
    overflow: hidden;
    padding: 0 10px;
}

.form-container form .radio-group label {
    display: block;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: 2px solid #51b2e9;
    border-radius: 2px;
}

.form-container form .radio-group input:checked + span {
    background: #5777ba;
    color: #edf6fa;
    display: block;
    width: 100%;
    height: 100%;
}

.form-container form.schedule-demo > .form-group {
    margin-bottom: 0;
    overflow: visible;
    min-height: 177px;
}

.form-container .form-message {
    text-align: center;
}

.form-container .form-message .message {
    font-size: 20px;
    padding: 40px 0;
}

.form-container .form-message button.close-button {
    font-size: 15px;
    color: #fff;
    position: static;
}