.img-fluid{
        margin-top: -72.3%;
        margin-bottom: -22%;
}

.card-img{
    border: 4px solid#1DA2CA;
    border-radius: 35px;
    height: 84.9%;
    margin-left: 380px;
}


.text-center{
    width: 35.5%;
    left: 17.5%;
    position: relative;
    float: left;
    border: 4px solid #1DA2CA;
    border-radius: 35px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right-color: transparent;
    font-size: 20px;
}

#defaultRegisterFormUserName{
    font-size:18px;
    width: 101%;
}

#defaultRegisterFormFirstName{
    font-size:18px;
    width: 101%;
}

#defaultRegisterFormLastName{
    font-size:18px;
    width: 101%;
}

.col{
    width: 94%;
    font-size:18px;
}

#defaultRegisterFormPassword{
    font-size:18px;
}

#defaultRegisterFormPassword1{
    font-size:18px;
}

.form-row {
    width: 95%;
}

.mb-4{
    width: 95%;
}

#defaultRegisterFormEmail{
    font-size:18px;
    width: 94%;
}

.form-control {
    font-size:20px;
    width: 94%;
}

#gender1{
    left: 10%;
    font-size: 20px;
}
#gender2{
    left: 25%;
    font-size: 20px;
}

span{
    left: 3%;
    position:relative;
    font-size: 20px;
    color: dimgrey;
}

.btn{
    font-size: 20px;
    width: 94%;
}