body {
    font-family: Arial;
}

.text-sm-left  {
    font-size: 2em;
    color: #007bff;
}

.text-sm-right {
    font-size: 2em;
    color: black;
}

.button {
    position: relative;
    float: right;
    margin-top: -45px;
    display: inline-block;
    width: 195px;
    height: 35px;
    border: none;
    color: white;
    font-size: 18px;
    background: #47536e;
}

.button:hover {
    color: white;
    background: #5777ba;
}

.text-right {
    font-style: italic;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}



