body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    font-weight: 700;
}

.showcase .showcase-text {
    text-align: center;
    font-size: 18px;
    padding: 6rem;
    left: 25.5%;
    /*left: 9%;*/
}

/*.showcase .showcase-img {*/
/*    left: 7%;*/
/*    margin-top: 5%;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 22rem 31rem;*/
/*}*/

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.form-control, .custom-select, .btn{
    font-size: 19px;
}

