/*registreren is nu active in de navbar*/
#register {
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 4px;
}

body{
    background-color: #f2f5fa;
}

.showcase .showcase-text {
    text-align: center;
    font-size: 18px;
    padding: 6rem;
    left: 25.5%;
    /*left: 9%;*/
}

/*.showcase .showcase-img {*/
/*    left: 7%;*/
/*    margin-top: 5%;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 22rem 31rem;*/
/*}*/

footer.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    clear: both;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container{
    width: 90%;
}

.form-control, .custom-select, .btn {
    font-size: 19px;
}

.btn{
    color: white;
    background: #47536e;
}

.btn:hover {
    color: white;
    background: #5777ba;
}

.info {
    position: relative;
    float: left;
    left: 30%;
}

.image {
    background-image: url(https://www.sholom.com/dynamic-media/assets/images/photos/philips/memory-care-photo.jpg?gravity=northwest&k=jI4BbxQ%2BxWop8dL580WcaA&v=carousel-stage-image);
    background-size: cover;
}

.invalid-feedback{
    font-size: 16px;
}

h1{
    color: black;
    font-weight: bold;
}

p, .custom-control-label{
    color: #515f7d;
}