body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    font-weight: 700;
}

.showcase .showcase-text {
    text-align: center;
    font-size: 18px;
    padding: 6rem;
    left: 25.5%;
    /*left: 9%;*/
}

/*.showcase .showcase-img {*/
/*    left: 7%;*/
/*    margin-top: 5%;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 22rem 31rem;*/
/*}*/

footer.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    clear: both;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.form-control, .custom-select, .btn {
    font-size: 19px;
}

.info {
    position: relative;
    float: left;
    left: 30%;
}

.image {
    background-image: url(https://www.sholom.com/dynamic-media/assets/images/photos/philips/memory-care-photo.jpg?gravity=northwest&k=jI4BbxQ%2BxWop8dL580WcaA&v=carousel-stage-image);
    background-size: cover;
}

.invalid-feedback{
    font-size: 16px;
}