<link href="../assets/css/activiteiten.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>
<br>
<br>
<br>

<div class="wrapper">
    <div class="main">
        <button type="button"class="button" id="add-button"><i class="material-icons">add</i>
            Maak aan
        </button>

        <div class="category mb-4" id="category-event">
            <div class="category-head" id="event-posts">
                Activiteiten
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="eventTable">
                            <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Capaciteit deelnemers</th>
                                <th>Datum</th>
                                <th>Beschrijving</th>
                                <th>Plaats</th>
                                <th>Begintijd</th>
                                <th>Eindtijd</th>
                                <th>Deelnemen</th>
                                <th>Weigeren</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>