<link href="../assets/css/FAQ.css" rel="stylesheet" type="text/css"/>
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">

            <h2>FAQ</h2>
        </div>

        <div class="accordion-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                                                                   href="#accordion-list-1"> Wat is The Agile Elderly?
                    <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                        <p>The Agile Elderly is een website dat doel gericht is met het samen brengen van ouderen en
                            jongeren.
                            Met The Agile Elderly is het makkelijker voor ouderen en jongeren samen een activiteit uit
                            te voeren.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-2"
                                                                   class="collapsed">Hoe kan ik registeren? <i
                        class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                        <p>Rechtsboven in het menu hebben wij een knop "Registreren" staan, als u daar op klikt komt u
                            vanzelf bij de registratie te recht.
                            Bij de registratie wordt u gevraagd een aantal gegevens in te voeren, zodra u alle gevraagde
                            gegevens heeft ingevoert klikt u op het "Registreren" knopje en bent u geregristreed!</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-3"
                                                                   class="collapsed"> Hoe kan ik iets rapporteren? <i
                        class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                        <p>Als u iets of iemand wilt rapporteren kunt op het uitroeptekentje klikken.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-4"
                                                                   class="collapsed"> Is The Agile Elderly veilig om te
                    gebruiken? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                        <p>The Agile Elderly is zeker veilig te gebruiken. De gegevens van de gebruikers woredn veilig
                            op geslagen.
                            Ook het hebben van een report functie het gevaar wat de ene gebruiker op
                            de andere gebruiker af stuurt te verminderen.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-5"
                                                                   class="collapsed"> Hoe kan ik meedoen aan
                    activiteiten? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
                        <p>Als een activiteit u interessant lijkt kunt u op het knopje "Deelnemen"
                            klikken rechtsonder de activiteit. </p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>