<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../assets/css/FAQ.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>FAQ</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">

        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/avatars/man.png" width="50" height="50" alt="">
                The Agile Elderly</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="home" href="index.html">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="nieuws" href="nieuws.html">Nieuws</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="agenda" href="agenda.html">Agenda</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="activiteiten" href="activiteiten.html">Activiteiten</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="forum" href="forum.html">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="login" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="logout" href="loguit.html">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>


<body>

<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">

        <h2>Veelgestelde vragen</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            Wat is The Agile Elderly?
                        </a>
                    </h3>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                        <p>The Agile Elderly is een website dat doel gericht is met hem samen brengen van ouderen en jongeren.
                        Met The Agile Elderly is het makkelijker voor ouderen en jongeren samen een activiteiten uit te voeren.</p>
                        <ul>
                            <li>Hierzo</li>
                            <li>Kunnen we</li>
                            <li>Eventueel </li>
                            <li>Dingetjes opsommen</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Hoe kan ik registeren?
                        </a>
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>Rechtsboven in het menu hebben wij een knop "Registreren" staan, als u daar op klikt komt u vanzelf bij de registratie te recht.
                        Bij de registratie wordt u gevraagd een aantal gegevens in te voeren, zodra u alle gevraagde gegevens heeft ingevoert klikt u op het "Registreren" knopje en bent u geregristreed!</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            Hoe kan ik iets rapporteren?
                        </a>
                    </h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <p>Als u iets of iemand wilt rapporteren kunt op het uitroeptekentje klikken.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
            <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        Is The Agile Elderly veilig om te gebruiken?
                    </a>
                </h3>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body px-3 mb-4">
                    <p>Tha Agile Elderly is zeker veilig te gebruiken. De gegevens van de gebruikers woredn veilig op geslagen.
                    Ook het hebben van een report functie het gevaar wat de ene gebruiker op
                        de andere gebruiker af stuurt te verminderen.</p>
                </div>
            </div>
        </div>
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            Hoe kan ik meedoen aan activiteiten?
                        </a>
                    </h3>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body px-3 mb-4">
                        <p>Als een activiteit u interessant lijkt, kunt u op het knopje  "Deelnemen"
                        klikken rechtsonder de activiteit. </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

</body>
</html>