<link href="../assets/css/forumArticle.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<br>
<br>
<br>
<button class="btn-secondary terug float-left mt-3" onclick="app.loadController(new ForumController())"><</button>


<div id="wrapper">
    <ul class="threadsList">
        <div class="container">
            <div class="be-comment-block">
            </div>
        </div>
    </ul>
</div>

<div class="form-container">
    <form>
        <div class="title">Laat een reactie achter</div>

        <div class="form-element"><textarea id="reply" name="reply" placeholder="Typ hier.." required></textarea></div>
        <div class="form-element submit">
            <button>Reageren</button>
        </div>
    </form>
</div>

<br>
<br>
<br>