<link href="../assets/css/forum.css" rel="stylesheet" type="text/css"/>

<br>
<br>
<div class="text">
    <h1 class="h2 mb-2">Forum</h1>
    <div class="text-left">
        <p>U kunt hier artikelen bekijken die gepost zijn door andere gebruikers. U kunt op het artikel
            drukken om meer te lezen.<br> U kunt ook zelf een artikel schrijven door
            middel van de knop rechts van deze tekst.
        </p>
    </div>
</div>
<br>
<br>
<br>
<button type="button" onclick="onAddPost()" class="btn btn-outline-secondary">+</button>

<br>

<div class="panel">
    <div class="panel-element">
        <div class="element-content">
            <div class="content-post">
                <div class="post-avatar"></div>
                <div class="post-content">
                    <span class="post-title h2">Onderwerp</span>
                    <p class="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="text-right">
                    <span><i><small>Gepost door Naam Achternaam</small></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-element">
        <div class="element-content">
            <div class="content-post">
                <div class="post-avatar"></div>
                <div class="post-content">
                    <span class="post-title h2">Onderwerp</span>
                    <p class="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="text-right">
                    <span><i><small>Gepost door Naam Achternaam</small></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-element">
        <div class="element-content">
            <div class="content-post">
                <div class="post-avatar"></div>
                <div class="post-content">
                    <span class="post-title h2">Onderwerp</span>
                    <p class="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="text-right">
                    <span><i><small>Gepost door Naam Achternaam</small></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-element">
        <div class="element-content">
            <div class="content-post">
                <div class="post-avatar"></div>
                <div class="post-content">
                    <span class="post-title h2">Onderwerp</span>
                    <p class="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="text-right">
                    <span><i><small>Gepost door Naam Achternaam</small></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-element">
        <div class="element-content">
            <div class="content-post">
                <div class="post-avatar"></div>
                <div class="post-content">
                    <span class="post-title h2">Onderwerp</span>
                    <p class="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="text-right">
                    <span><i><small>Gepost door Naam Achternaam</small></i></span>
                </div>
            </div>
        </div>
    </div>
</div>