<link href="../assets/css/forum.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>
<br>
<br>
<br>

<div class="wrapper">
    <div class="main">
        <button type="button" class="button" id="add-button"><i class="material-icons">add</i>
            Begin een topic
        </button>

        <div class="category mb-4" id="category-event">
            <div class="category-head" id="event-posts">
                Activiteit-gerelateerd
            </div>
            <div class="event-articles">
            </div>
        </div>

        <!--        discussie gedeelte-->
        <div class="category mb-4" id="discussie-posts">
            <div class="category-head" id="category-discussie">
                Discussie
            </div>
            <div class="discussion-articles">
            </div>
        </div>

        <!--        hulp nodig gedeelte-->
        <div class="category mb-4" id="help-posts">
            <div class="category-head" id="category-help">
                Hulp nodig
            </div>
            <div class="help-articles">
            </div>
        </div>

        <!--        offtopic gedeelte-->
        <div class="category mb-3" id="offtopic-posts">
            <div class="category-head" id="category-offtopic">
                Off-topic
            </div>
            <div class="offtopic-articles">
            </div>
        </div>
    </div>

    <aside>
        <div class="side rounded">
            <div class="col-sm-1 p-3 pb-1 bg-light rounded">
                <h4 class="font-italic">Forum</h4>
                <p class="text-nowrap">U kunt hier artikelen
                    <br> bekijken die gepost zijn <br> door andere gebruikers.<br>
                    Wilt u zelf een artikel<br> schrijven? Druk op de knop <br>hierboven.</p>
            </div>

            <div class="side-head">
                Categorieën
            </div>
            <div class="side-item" id="side-all">
                <a class="side-all">Alle categorieën</a>
            </div>
            <div class="side-item" id="side-event">
                <a class="side-event">Activiteit-gerelateerd</a>
            </div>
            <div class="side-item" id="side-discussion">
                <a class="side-discussion">Discussie</a>
            </div>
            <div class="side-item" id="side-help">
                <a class="side-help">Hulp nodig</a>
            </div>
            <div class="side-item" id="side-offtopic">
                <a class="side-offtopic">Off-topic</a>
            </div>
        </div>
    </aside>
</div>