<title>Mijn profiel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../src/assets/css/profiel.css" type="text/css">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">

        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/avatars/icons8-old-woman-48.png" width="50" height="50" alt="">
                <img src="../assets/img/avatars/icons8-teenager-male-48.png" width="46" height="46" alt="">
                Tijdloos Samen</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-controller="welcome">Welcome
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="home" href="index.html">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="nieuws" href="nieuws.html">Nieuws</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="agenda" href="agenda.html">Agenda</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="activiteiten" href="activiteiten.html">Activiteiten</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  data-controller="forum" href="forum.html">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="login" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="logout" href="index.html">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>


<body>

<div class="container"><form>
    <div class="text pt-5">
        <h2 class="text-sm-left">Mijn profiel</h2>
        <img src="../src/assets/img/avatars/meneer.jpeg" class="rounded-circle" width="120" height="115" alt="">
        <span class="text-sm-right pl-5">Erik Jan</span>

    </div>



    <div class="form-row pt-4">
        <div class="form-group col-md-4">
            <label><strong>Naam</strong></label>
            <input type="naam" class="form-control" id="name" placeholder="Voer uw naam in" required>
        </div>
        <div class="form-group col-md-4">
            <label><strong>Achternaam</strong></label>
            <input type="achternaam" class="form-control" id="lastname" placeholder="Voer uw achternaam in" required>
        </div>
        <div class="form-group col-md-4">
            <label><strong>Email</strong></label>
            <input type="email" class="form-control" id="email" placeholder="Voer uw e-mailadres in" required>
        </div>
        <div class="form-group col-md-4">
            <label><strong>Leeftijd</strong></label>
            <input type="leeftijd" class="form-control" id="age" placeholder="Voer uw leeftijd in" required>
        </div>
        <div class="form-group col-md-4">
            <label><strong>Woonplaats</strong></label>
            <input type="woonplaats" class="form-control" id="city" placeholder="Voer uw woonplaats in" required>
        </div>
        <div class="form-group col-md-4">
            <label><strong>Postcode</strong></label>
            <input type="postcode" class="form-control" id="postalcode" placeholder="Voer uw postcode in" required>
        </div>
        <div class="form-group col-md-4">
            <label><strong>Telefoonnummer</strong></label>
            <input type="tel" class="form-control" id="telcode" pattern="[0-9]{2}-[0-9]{8}" placeholder="Voer uw telefoonnummer in" required>
        </div>
        <div class="form-group col-md-6">
        <div class="form-row">
            <div class="col-md-3 offset-lg-0">
                <div class="form-group">
                    <label for="geslachtOpties">
                        <strong>Geslacht</strong>
                    </label>
                    <select
                            class="custom-select mr-sm-2"
                            id="geslachtOpties"
                            required
                    >
                        <option value="">Geslacht...</option>
                        <option value="Man">Man</option>
                        <option value="Vrouw">Vrouw</option>
                        <option value="Anders">Anders</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    </div>

    <button type="opslaan" class="btn btn-primary btn-block">Opslaan</button>
</form>
</div>