<title>Mijn profiel</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../src/assets/css/profiel.css" type="text/css">

<br>
<br>
<br>

<!--<div class="container"><form>-->
<!--    <div class="text pt-5">-->
<!--        <h2 class="text-sm-left">Mijn profiel</h2>-->
<!--        <img src="../src/assets/img/avatars/meneer.jpeg" class="rounded-circle" width="120" height="115" alt="">-->
<!--        <span class="text-sm-right pl-5">Erik Jan</span>-->

<!--    </div>-->
<div class="container"><form>

    <div class="wrapper">
        <div class="main">

            <button type="button" class="button" id="add-button"><i class="material-icons">add</i>
                Wijzig
            </button>

<!--            <label><strong>Gebruikersnaam</strong></label>-->
            <div class="form-row pt-4">
                <div class="form-group col-md-2">
            <label><strong>Gebruikersnaam</strong></label>
            <div  class="form-control" id="username"></div>
                </div>
            </div>




            <!--        naam-->
            <div class="form-row pt-4">
                <div class="form-group col-md-4">
                    <label><strong>Naam</strong></label>
                    <div  class="form-control" id="name"></div>
                </div>

                <!--        email-->
                <div class="form-group col-md-4">
                    <label><strong>Email</strong></label>
                    <div class="form-control" id="email"></div>
                </div>


                <!--        stad-->
                <div class="form-group col-md-4">
                    <label><strong>Woonplaats</strong></label>
                    <div class="form-control" id="stad"></div>
                </div>

                <!--        telefoon-->
                <div class="form-group col-md-4">
                    <label><strong>Telefoonnummer</strong></label>
                    <div class="form-control" id="telefoonnr"></div>
                </div>

                <!--        Leeftijd-->
                <div class="form-group ">
                    <label><strong>Leeftijd</strong></label>
                    <div class="form-control" id="leeftijd"></div>
                </div>

                <!--        geslacht-->
                <div class="form-group col-md-4">
                    <div class="form-row">
                        <div class="col-md-3 offset-lg-0">
                            <div class="form-group">
                                <label for="geslachtOpties">
                                    <strong>Geslacht</strong>
                                </label>
                                <div class="form-control" id="geslachtOpties" >

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--    <button type="opslaan" class="btn btn-primary btn-block">Opslaan</button>-->
        </div>
    </div>
</form>
</div>