<div class="container"><form>
    <div class="text pt-5">
        <h2 class="text-sm-center pt-3">Mijn profiel</h2>
        <img src="../src/assets/img/avatars/meneer.jpeg" class="rounded-circle" width="120" height="115" alt="">
        <span class="text-sm-right pl-5">Erik Jan</span>

    </div>


      <!--naam-->
    <div class="form-row pt-4">
        <div class="form-group col-md-4">
            <label><strong>Naam</strong></label>
            <input type="text" class="form-control" id="name" placeholder="Voer uw naam in" required>
        </div>

        <!--achternaam-->
        <div class="form-group col-md-4">
            <label><strong>Achternaam</strong></label>
            <input type="text" class="form-control" id="lastname" placeholder="Voer uw achternaam in" required>
        </div>

        <!--email-->
        <div class="form-group col-md-4">
            <label><strong>Email</strong></label>
            <input type="email" class="form-control" id="email" placeholder="Voer uw e-mailadres in" required>
        </div>

        <!--stad-->
        <div class="form-group col-md-4">
            <label><strong>Woonplaats</strong></label>
            <input type="text" class="form-control" id="city" placeholder="Voer uw woonplaats in" required>
        </div>

        <!--telefoon-->
        <div class="form-group col-md-4">
            <label><strong>Telefoonnummer</strong></label>
            <input type="tel" class="form-control" id="telcode" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" required>
        </div>

        <!--Leeftijd-->
        <div class="form-group col-md-4">
            <label><strong>Leeftijd</strong></label>
            <input type="number" class="form-control" id="leeftijd"  placeholder="nr." maxlength="3" min="18" max="100"  required>
        </div>

        <!--geslacht-->
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="col-md-3 offset-lg-0">
                    <div class="form-group">
                        <label for="geslachtOpties">
                            <strong>Geslacht</strong>
                        </label>
                        <select class="custom-select mr-sm-2" id="geslachtOpties" required>
                            <option value="">Geslacht...</option>
                            <option value="Man">Man</option>
                            <option value="Vrouw">Vrouw</option>
                            <option value="Anders">Anders</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary btn-block">Opslaan</button>
</form>
</div>