<link href="../assets/css/nieuws.css" rel="stylesheet" type="text/css"/>


<section id="block2" class="module-block">
    <h2>Nieuws</h2>
    <article class="post">
        <h3>
            <a class="title">
                Vannacht vorst, daarna loopt temperatuur pijlsnel op
                <img src="https://www.telegraaf.nl/images/1680x945/filters:format(jpeg):quality(50)/cdn-kiosk-api.telegraaf.nl/ae8a2224-7e1b-11ea-8624-0217670beecd.jpg"
                     alt=""/>
            </a>
        </h3>
        <strong class="date">14 april 2020</strong>
        <p class="text">De temperatuur is na een lange tijd van zonnig en uitzonderlijk warm lenteweer nu even gedaald. Die dip zal
            snel verleden tijd zijn, verwacht Weeronline. De komende twee dagen zal het kwik net zo snel weer stijgen.
            Maar eerst krijgen we vorst! Omdat het dinsdagnacht overal opklaart, kan het in het midden, oosten en zuiden
            van ons land ’gemakkelijk 1 tot 3 graden vriezen’, aldus het weerbureau. Het noorden en westen worden
            ontzien. Daar zal het nipt boven 0 graden blijven<span id="dots">...</span>
            <span id="more">„Mocht je de, overal al verkrijgbare ,éénjarige zomerbloeiers al in de tuin hebben gezet dan is het raadzaam
        om deze af te dekken of binnen te halen als ze in een pot zitten”, aldus Weeronline. „Ook fruittelers zullen
        de kwetsbare bloesem moeten beschermen tegen vorstschade.”

        Temperatuur stijgt snel
        Het is dinsdag zo’n 8 tot 11 graden; dat is kouder dan gebruikelijk, want de gemiddelde temperatuur ligt
        half april rond 12 of 13 graden overdag. Maar die gemiddelde waarden zullen we, na een letterlijk ijskoude
        nacht, snel weer voorbijsnellen.

        Woensdag gaan we naar 13 tot 17 graden en donderdag kan het 17 tot 23 graden worden, aldus Weeronline.
        Daarmee zijn we binnen 48 uur terug bij het warme lenteweer van vorige week.

        Veel zon
        Het warme weer heeft te maken met een zwakke tot matige wind uit het oosten, waarmee zachte lucht wordt
        aangevoerd. Zowel woensdag als donderdag zal het erg zonnig zijn, al komen er vanuit het zuiden donderdag
        stapelwolken ons land in.

        Vrijdag wordt het weer minder aangenaam. Dan draait de wind naar het noordoosten. Verwachte temperaturen
        liggen tussen de 12 en maximaal 18 graden.</span>
        </p>
        <br>
        <a href="#" class="more" id="morebutton">Lees meer
            &darr;</a></p>
    </article>

    <article class="post">
        <h3>
            <a class="title">
                Felle supermaan boven Nederland en rest van de wereld
                <img src="https://media.nu.nl/m/y1bx3xhaq7ii_wd640.jpg" alt=""/>
            </a>
        </h3>
        <strong class="date">8 april 2020</strong>
        <p class="text">Boven Nederland en de rest van de wereld was in de nacht van dinsdag op woensdag een heuse supermaan te zien.
            Doordat de afstand tussen de aarde en de maan verkort was tot een respectabele 363.595 kilometer afstand,
            leek de maan veel groter en feller dan normaal. Dat leverde prachtige plaatjes op.
            <br>
    </article>

</section>
