<link href="../assets/css/nieuws.css" rel="stylesheet" type="text/css"/>

<!-- Page Content -->
<div class="container mt-5 d-flex h-100">

    <div class="row justify-content-center align-self-center">

        <!-- Blog Entries Column -->
        <div class="col-md-10">

            <!-- Blog Posts -->
            <article class="post">
                <h3>
                    <h1 class="my-2">Vitesse: Halveren huur Gelredome, anders rechtszaak</h1>
                    <p class="badge badge-success">Sport</p>
                    <small><b class="h6">7 mei 2020</b></small>

                    <a class="title">
                        <img src="https://images0.persgroep.net/rcs/jSSWGujtn1sLFq3b31nmzutlcwU/diocontent/168618542/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&amp;quality=0.8"
                             alt=""/>
                    </a>
                </h3>
                <p class="text">Vitesse wil de huur van stadion Gelredome halveren. De Arnhemse profclub wordt
                    financieel zwaar getroffen door de coronacrisis en moet de kosten terugbrengen. Gaat de
                    stadioneigenaar niet akkoord met een verlaging van 50 procent, dan volgt een rechtszaak.
                    <br>
                    Met een stevige brief schrijft Vitesse zo een nieuw hoofdstuk in het huurconflict met de
                    exploitatiemaatschappij van Gelredome. Op 1 april stelde de Arnhemse club vanwege de uitbraak
                    van
                    het coronavirus al een huurverlaging voor. Destijds reageerde huisbaas Michael van de Kuit
                    furieus.
                    Hij weigerde gesprekken met de eredivisionist. Ook nu is hij verbolgen.<span
                            class="dots">...</span>
                </p>

                <a class="read-more-toggle text-primary">Lees meer &darr;</a>

                <div class="read-more-content">
                    <span><br>,,Dit is een klassiek geval”, stelt hij. ,,Iemand met de rug tegen de muur zetten en dan een regeling
                    afdwingen.
                    Daar ga ik niet in mee. Vitesse heeft een Rus en die is miljardair (clubeigenaar Valeri Oyf, red.).
                    Als die Rus korting wil, moet hij me bellen.
                    Maar de huur halveren met dwang? Dan vind je bij mij een gesloten loket.”
                    <br>
                    <br>
                    <strong>Evenementen</strong>
                    <br>Vitesse stelt dat Gelredome tot 1 september niet wordt gebruikt.
                    In Nederland zijn evenementen tot die tijd, zoals voetbalwedstrijden, niet toegestaan.
                    Op grond daarvan zegt de eredivisionist tot die tijd ‘niet gehouden te zijn’ aan de huurbetaling.
                    De club toont daarentegen begrip voor de huisbaas en beseft dat die ‘niet genegen zal zijn om
                    vrijwillig in te stemmen’ met een dergelijke verlaging.
                    Vitesse streeft zodoende ‘naar een minnelijke oplossing’. Dat is een halvering van de huur.
                    Vitesse maakt de stap uit nood. De profclub staat momenteel financieel zwaar onder druk. De komende
                    maanden zijn er geen wedstrijden en geen inkomsten.
                    En gaat de competitie vanaf 1 september weer beginnen, dan is dat hoogstwaarschijnlijk zonder
                    publiek.

                    <br>
                    <br>
                    <strong>Recettes</strong>
                    <br>
                    Voor de eredivisionist vallen dan de recettes uit wedstrijden weg. Die zitten onder andere in
                    kaartverkoop, horeca en merchandising.
                    Daar is per wedstrijd circa 150.000 euro mee gemoeid. Op het vlak van sponsoring worden verder ook
                    nog enorme klappen verwacht.
                    Vitesse betaalt op jaarbasis 1,8 miljoen euro aan huur aan Gelredome. Ook over die huursom bestaat
                    al lange tijd een conflict.
                    De eredivisionist heeft formeel per 1 oktober 2023 de huur opgezegd. De club wil niet weg uit het
                    stadion, maar ziet de stap als noodzakelijk om te komen tot een ‘nieuw, redelijk en evenwichtig’
                    huurcontract.</span></div>
            </article>

            <article class="post">
                <h3>
                    <h1 class="my-2">50Plus wint kort geding over digitaal stemmen</h1>
                    <p class="badge badge-secondary">Poltiek</p>
                    <small><b class="h6">6 mei 2020</b></small>

                    <a class="title">
                        <img src="https://images1.persgroep.net/rcs/Q3zL4TkXWNsHrDVPVNeRaZM5Fz8/diocontent/48620449/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&amp;quality=0.8"
                             alt=""/>
                    </a>
                </h3>
                <p class="text">De leden van 50Plus mogen digitaal stemmen over een nieuwe partijleider en een nieuw
                    partijbestuur.
                    Dat is de uitkomst van een kort geding.
                    <br>
                    Partijlid Peter Pont had de zaak aangespannen, omdat hij het er niet mee eens is dat belangrijke
                    besluiten via de digitale snelweg worden genomen.
                    Het ging Pont vooral om de verkiezing van een voorzitter van de selectiecommissie voor de
                    landelijke
                    verkiezingen. Pont is zelf kandidaat voor die functie<span class="dots">...</span>
                </p>

                <a class="read-more-toggle text-primary">Lees meer &darr;</a>

                <div class="read-more-content">
                    <span><br>De rechtbank Den Haag oordeelde echter dat een verbod op besluitvorming langs elektronische weg niet te rechtvaardigen is, zeker niet in coronatijd.
                        <br>
                        <br>,,De rechtbank wijst de vordering af omdat inmiddels een tijdelijke (nood)wet in werking is getreden die elektronische verkiezingen mogelijk maakt,
                        ook als de statuten van een vereniging daarin niet voorzien. 50Plus heeft overtuigend gemotiveerd dat de verkiezing van de commissievoorzitter geen uitstel kan
                        lijden en dat zij dus gebruik mag maken van de noodwet.”
                    <br>
                    <br>
                    <strong>Verder 'buiten de zaaltjes’</strong>
                    <br>50Plus kan dus weer verder met besluitvorming buiten de ‘zaaltjes’. Zo moet via een digitale ledenraadpleging binnenkort de hele top worden aangewezen.
                        Partijvoorzitter Geert Dales spreekt in een eerste reactie van ‘een verwachte, maar toch grote (morele) overwinning voor het partijbestuur’.
                        Hij benadrukt dat de kwestie 50Plus ‘onnodig heel veel geld heeft gekost’.
                        <br>
                        <br>
                        Want de partij moet wel zelf de proceskosten ophoesten, omdat eerder aan de leden een besluitvormingsprocedure was voorgelegd die niet wettelijk geldig is.
                        <br>
                        <br>
                        Peter Pont, de verliezer van het kort geding, laat weten: ,,We zijn helaas ingehaald door coronawetgeving. Maar het bestuur heeft een flinke tik op de vingers gekregen van de rechter.
                        Zij moeten de procedure nu echt transparant maken.”</span></div>
            </article>

            <article class="post">
                <h3>
                    <h1 class="my-2">Piek van ruim 2 miljoen tv-kijkers voor Koningsdag-uitzendingen</h1>
                    <p class="badge badge-info">Cultuur</p>
                    <small><b class="h6">28 april 2020</b></small>

                    <a class="title">
                        <img src="https://nos.nl/data/image/2020/04/28/646128/3200x1800a.jpg"
                             alt=""/>
                    </a>
                </h3>
                <p class="text">
                    Miljoenen mensen hebben gisteren op televisie de Koningsdag-uitzendingen van de NOS gevolgd,
                    blijkt
                    uit cijfers van Stichting Kijkonderzoek.
                    <br>
                    <br>
                    Bijna 2 miljoen mensen keken rond 10.00 uur op NPO 1 naar het Koninklijk Concertgebouw Orkest
                    dat
                    het Wilhelmus speelde en naar de speech van koning Willem-Alexander. Het aansluitende NOS
                    Journaal
                    trok nog een paar honderdduizend kijkers meer. Acht op de tien mensen die op dat moment de tv
                    hadden
                    aanstaan, keken naar dat NOS Journaal.
                    <br>
                    <br>
                    De speciale Koningsdag-uitzending van de NOS die daarop volgde, kon rekenen op gemiddeld 1,4
                    miljoen
                    kijkers. Op het hoogtepunt waren dat er 2,1 miljoen.
                    <span class="dots">...</span>
                </p>

                <a class="read-more-toggle text-primary">Lees meer &darr;</a>

                <div class="read-more-content">
                    <span><br>Het programma blikte terug op de hoogtepunten van alle zes eerdere Koningsdagen. Van De Rijp en Amstelveen, via de edities in Dordrecht, Zwolle, Tilburg en Groningen, tot de laatste, vorig jaar in Amersfoort.
                     <br>
                    <br>
                    Het NOS Journaal van 16.00 uur, met daarin de nationale toost, trok ruim 700.000 kijkers. Al met al hebben ruim vier miljoen mensen van 6 jaar en ouder (een deel van) de NOS-uitzendingen rondom Koningsdag op tv gezien.</span>
                </div>
            </article>

            <article class="post">
                <h3>
                    <h1 class="my-2">Telescoop Hubble is dertig jaar geworden: drie iconische ruimtefoto's</h1>
                    <p class="badge badge-warning">Buitenland</p>
                    <small><b class="h6">24 april 2020</b></small>

                    <a class="title">
                        <img src="https://media.nu.nl/m/t9tx2ewazt20_wd1280.jpg/telescoop-hubble-is-dertig-jaar-geworden-drie-iconische-ruimtefotos.jpg"
                             alt=""/>
                    </a>
                </h3>
                <p class="text">
                    Telescoop Hubble, van de Amerikaanse ruimtevaartorganisatie NASA en de Europese
                    ruimtevaartorganisatie ESA, bestaat vrijdag dertig jaar. Foto's die door Hubble zijn gemaakt,
                    hebben
                    tot een aantal belangrijke wetenschappelijke ontdekkingen geleid.
                    <br>
                    <br>
                    Ter ere van de dertigste verjaardag van de telescoop presenteert NASA speciale
                    verjaardagsfoto's,
                    die de telescoop heeft genomen van onder meer verschillende sterrenstelsels. Zo is er een foto
                    van
                    sterrenstelsel UGC 2885, ook wel 'Godzilla Galaxy' genoemd, vrijgegeven.
                    <span class="dots">...</span>
                </p>

                <a class="read-more-toggle text-primary">Lees meer &darr;</a>

                <div class="read-more-content">
                    <span><br>
                    De telescoop werd in het jaar 1990 gelanceerd door NASA en is vernoemd naar de Amerikaanse astronoom Edwin Hubble. De telescoop draait rondjes om de aarde en wordt gebruikt voor het maken van scherpe foto's in het heelal.
                    Het object weegt zo'n 11.000 kilogram.
                     <br>
                     <br>
                    Een van de bekendste foto's die door de Hubble is genomen, is die van de zogenoemde Adelaarsnevel. De foto van de Adelaarsnevel werd in 1995 genomen en ging de hele wereld over.
                      <br>
                     <br>
                    Het NOS Journaal van 16.00 uur, met daarin de nationale toost, trok ruim 700.000 kijkers. Al met al hebben ruim vier miljoen mensen van 6 jaar en ouder (een deel van) de NOS-uitzendingen rondom Koningsdag op tv gezien.
                    <br>
                     <br>
                        <strong>Defecte spiegel in eerste drie weken na lancering</strong>
                        <br>
                    In de eerste weken na de eerste lancering kwam men erachter dat de Hubble niet zulke scherpe beelden maakte als verwacht. Uiteindelijk bleek dit te liggen aan een defecte spiegel.
                        In 1993 werd er een speciale ruimtemissie op touw gezet om het mankement te verhelpen. Deze missie bleek naderhand geslaagd te zijn.
                        <br>
                        <br>
                    Aanvankelijk maakte de Amerikaanse president George W. Bush in 2004 bekend dat er geen onderhoudswerkzaamheden meer verricht zouden worden aan de telescoop. Dit gebeurde in 2008 echter toch weer.
                        <br>
                        <br>
                    De telescoop zweeft inmiddels dertig jaar door het heelal. Hoelang de Hubble nog operationeel zal blijven, is niet bekend. NASA heeft in ieder geval laten weten dat ze hoopt dat de telescoop nog een aantal jaren werkt.
                    </span>
                </div>
            </article>

            <article class="post">
                <h3>
                    <h1 class="my-2">Vannacht vorst, daarna loopt temperatuur pijlsnel op</h1>
                    <p class="badge badge-primary">Natuur</p>
                    <small><b class="h6">14 april 2020</b></small>

                    <a class="title">
                        <img src="https://www.telegraaf.nl/images/1680x945/filters:format(jpeg):quality(50)/cdn-kiosk-api.telegraaf.nl/ae8a2224-7e1b-11ea-8624-0217670beecd.jpg"
                             alt=""/>
                    </a>
                </h3>
                <p class="text">De temperatuur is na een lange tijd van zonnig en uitzonderlijk warm lenteweer nu
                    even
                    gedaald. Die dip zal
                    snel verleden tijd zijn, verwacht Weeronline. De komende twee dagen zal het kwik net zo snel
                    weer
                    stijgen.
                    Maar eerst krijgen we vorst! Omdat het dinsdagnacht overal opklaart, kan het in het midden,
                    oosten
                    en zuiden
                    van ons land ’gemakkelijk 1 tot 3 graden vriezen’, aldus het weerbureau. Het noorden en westen
                    worden
                    ontzien. Daar zal het nipt boven 0 graden blijven<span class="dots">...</span>
                    <a class="read-more-toggle text-primary">Lees meer &darr;</a>

                <div class="read-more-content">
                <span><br>„Mocht je de, overal al verkrijgbare ,éénjarige zomerbloeiers al in de tuin hebben gezet dan is het raadzaam
                     om deze af te dekken of binnen te halen als ze in een pot zitten”, aldus Weeronline. „Ook fruittelers zullen
                     de kwetsbare bloesem moeten beschermen tegen vorstschade.”
                        <br>
                        <br>
                        <strong>Temperatuur stijgt snel</strong>
                        <br>
                        Het is dinsdag zo’n 8 tot 11 graden; dat is kouder dan gebruikelijk, want de gemiddelde temperatuur ligt
                        half april rond 12 of 13 graden overdag. Maar die gemiddelde waarden zullen we, na een letterlijk ijskoude
                        nacht, snel weer voorbijsnellen.

                        Woensdag gaan we naar 13 tot 17 graden en donderdag kan het 17 tot 23 graden worden, aldus Weeronline.
                        Daarmee zijn we binnen 48 uur terug bij het warme lenteweer van vorige week.

                        <br>
                        <br>
                        <strong>Veel zon</strong>
                        <br>
                        Het warme weer heeft te maken met een zwakke tot matige wind uit het oosten, waarmee zachte lucht wordt
                        aangevoerd. Zowel woensdag als donderdag zal het erg zonnig zijn, al komen er vanuit het zuiden donderdag
                        stapelwolken ons land in.

                        Vrijdag wordt het weer minder aangenaam. Dan draait de wind naar het noordoosten. Verwachte temperaturen
                        liggen tussen de 12 en maximaal 18 graden.</span></div>
            </article>

            <article class="post">
                <h3>
                    <h1 class="my-2">Felle supermaan boven Nederland en rest van de wereld</h1>
                    <p class="badge badge-primary">Natuur</p>
                    <small><b class="h6">8 april 2020</b></small>
                    <a class="title">

                        <img src="https://media.nu.nl/m/y1bx3xhaq7ii_wd640.jpg" alt=""/>
                    </a>
                </h3>
                <p class="text">Boven Nederland en de rest van de wereld was in de nacht van dinsdag op woensdag een
                    heuse supermaan te zien.
                    Doordat de afstand tussen de aarde en de maan verkort was tot een respectabele 363.595 kilometer
                    afstand,
                    leek de maan veel groter en feller dan normaal. Dat leverde prachtige plaatjes op.
                    <br>
            </article>

            <br>

            <!--        &lt;!&ndash; Sidebar Widgets Column &ndash;&gt;-->
            <!--        <div class="col-md-3 topics">-->

            <!--            &lt;!&ndash; Search Widget &ndash;&gt;-->
            <!--            <div class="card my-4">-->
            <!--                <h4 class="card-header">Topics</h4>-->
            <!--                <div class="card-body">-->
            <!--                    <span class="badge badge-primary">Natuur</span>-->
            <!--                    <span class="badge badge-secondary">Politiek</span>-->
            <!--                    <span class="badge badge-success">Sport</span>-->
            <!--                    <span class="badge badge-dark">Economie</span>-->
            <!--                    <span class="badge badge-info">Cultuur</span>-->
            <!--                    <span class="badge badge-danger">Binnenland</span>-->
            <!--                    <span class="badge badge-warning">Buitenland</span>-->
            <!--                </div>-->
            <!--            </div>-->

            <!--        </div>-->
        </div>
    </div>
</div>