<link href="../assets/css/register.css" rel="stylesheet" type="text/css"/>

<!-- Register form -->
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="image col-lg-5">
                </div>
                <div class="col-lg-7">
                    <div class="p-4">
                        <div class="text-center">
                            <h1 class="h2 mb-1">Registreren</h1>
                            <p>U kunt zich hier registreren</p>
                        </div>

                        <form>
                            <!-- Username -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleUserName"
                                       placeholder="Kies een gebruikersnaam" required>
                            </div>

                            <!-- Full name -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleFullName"
                                       placeholder="Vul hier uw volledige naam in" required>
                            </div>

                            <!-- Email address -->
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="Vul hier uw emailadres in" required>
                            </div>

                            <!-- Password -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Kies een wachtwoord" required name=password>
                                    <div class="showcase-text text-danger font-weight-bold">Minstens één hoofdletter en cijfer!</div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleRepeatPassword" placeholder="Herhaal uw wachtwoord" required name=password2>
                                </div>
                            </div>

                            <!-- Gender -->
                            <div class="form-group">
                                <select class="custom-select" id="exampleGender" required>
                                    <option value="">Kies uw geslacht</option>
                                    <option value="Vrouw">Vrouw</option>
                                    <option value="Man">Man</option>
                                    <option value="Anders">Anders</option>
                                </select>
                            </div>

                            <!-- Age -->
                            <div class="form-group">
                                <select multiple class="form-control" id="exampleAge" required>
                                    <option disabled>Kies uw leeftijd</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                    <option>32</option>
                                    <option>33</option>
                                    <option>34</option>
                                    <option>35</option>
                                    <option>36</option>
                                    <option>37</option>
                                    <option>38</option>
                                    <option>39</option>
                                    <option>40</option>
                                    <option>41</option>
                                    <option>42</option>
                                    <option>43</option>
                                    <option>44</option>
                                    <option>45</option>
                                    <option>46</option>
                                    <option>47</option>
                                    <option>48</option>
                                    <option>49</option>
                                    <option>50</option>
                                    <option>51</option>
                                    <option>52</option>
                                    <option>53</option>
                                    <option>54</option>
                                    <option>55</option>
                                    <option>56</option>
                                    <option>57</option>
                                    <option>58</option>
                                    <option>59</option>
                                    <option>60</option>
                                    <option>61</option>
                                    <option>62</option>
                                    <option>63</option>
                                    <option>64</option>
                                    <option>65</option>
                                    <option>66</option>
                                    <option>67</option>
                                    <option>68</option>
                                    <option>69</option>
                                    <option>70</option>
                                    <option>71</option>
                                    <option>72</option>
                                    <option>73</option>
                                    <option>74</option>
                                    <option>75</option>
                                    <option>76</option>
                                    <option>77</option>
                                    <option>78</option>
                                    <option>79</option>
                                    <option>80</option>
                                    <option>81</option>
                                    <option>82</option>
                                    <option>83</option>
                                    <option>84</option>
                                    <option>85</option>
                                    <option>86</option>
                                    <option>87</option>
                                    <option>88</option>
                                    <option>89</option>
                                    <option>90</option>
                                    <option>91</option>
                                    <option>92</option>
                                    <option>93</option>
                                    <option>94</option>
                                    <option>95</option>
                                    <option>96</option>
                                    <option>97</option>
                                    <option>98</option>
                                    <option>99</option>
                                    <option>100</option>
                                </select>
                            </div>

                            <!-- Newsletter -->
                            <div class="form-group text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="defaultRegisterFormNewsletter">
                                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Aanmelden
                                        voor de nieuwsbrief</label>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn w-75">Registratie voltooien</button>
                            </div>
                            <hr>
                        </form>

                        <div class="text-center">
                            <a href="#" data-controller="forgotpassword">Wachtwoord vergeten?</a>
                        </div>
                        <div class="text-center">
                            <a onclick="app.loadController(CONTROLLER_LOGIN)" href="#">Ik heb al een account!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
