<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registreren</title>
    <!-- Load our stylesheets -->

    <!-- Load jQuery 3.4.1 -->
    <script src="assets/vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Load Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Load Bootstrap script -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../assets/css/register.css">
</head>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/avatars/man.png" width="50" height="50" alt="">
                The Agile Elderly</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-controller="welcome">Welcome
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="home" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="nieuws" href="nieuws.html">Nieuws</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="agenda" href="agenda.html">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="forum" href="forum.html">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="login" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-controller="logout" href="loguit.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>

<!-- Register form -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Registreren</h2>
                <p>U kunt zich hier registreren</p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <!-- Username -->
                            <input type="text" id="defaultRegisterFormUserName" class="form-control"
                                   placeholder="Kies een gebruikersnaam" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <!-- Full name -->
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" id="defaultRegisterFormFirstName" class="form-control"
                                           placeholder="Voer uw voornaam in" required>
                                </div>
                                <div class="col">
                                    <input type="text" id="defaultRegisterFormLastName" class="form-control"
                                           placeholder="Voer uw achternaam in" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <!-- E-mail -->
                            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-3"
                                   placeholder="Voer uw e-mailadres in" required>
                            <!-- Password -->
                            <input type="password" id="defaultRegisterFormPassword" class="form-control mb-3"
                                   placeholder="Kies een wachtwoord met minimaal 1 getal"
                                   aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
                            <input type="password" id="defaultRegisterFormPassword1" class="form-control"
                                   placeholder="Voer uw wachtwoord nogmaals in"
                                   aria-describedby="defaultRegisterFormPasswordInfo" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <select class="custom-select" required>
                            <option value="">Kies uw geslacht</option>
                            <option value="1">Vrouw</option>
                            <option value="2">Man</option>
                            <option value="3">Anders</option>
                        </select>
                    </div>


                    <!-- Newsletter -->
                    <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                                <label class="custom-control-label" for="defaultRegisterFormNewsletter">Aanmelden voor onze nieuwsbrief</label>
                            </div>
                    </div>

                    <!-- Terms of service -->
                    <!--        <p>Als u op-->
                    <!--            <em>Registratie voltooien</em> klikt gaat u akkoord met onze-->
                    <!--            <a href="" target="_blank">gebruiksvoorwaarden</a>-->

                    <button type="submit" class="btn btn-primary w-75">Registratie voltooien</button>
                </form>
            </div>
            <!-- Image -->
            <!--            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://www.sholom.com/dynamic-media/assets/images/photos/philips/memory-care-photo.jpg?gravity=northwest&k=jI4BbxQ%2BxWop8dL580WcaA&v=carousel-stage-image');"></div>-->
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="page-footer font-small text-white bg-dark pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <br>
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mt-3 mb-4">Pagina's</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="nieuws.html">Nieuws</a>
                    </li>
                    <li>
                        <a href="agenda.html">Agenda</a>
                    </li>
                    <li>
                        <a href="forum.html">Forum</a>
                    </li>
                </ul>
            </div>
            <br>
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mt-3 mb-4">Account</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                    <li>
                        <a href="register.html">Registreer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> The Agile Elderly</a>
        <img src="../assets/img/avatars/man.png" width="25" height="25" alt="">
    </div>
</footer>
</body>
</html>